:root{ 
    --hvid: #f4f3f2;
    --sort: #111111;
    --lyserød: #f7a4c2;
    --blå: #1d3fba;
  }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Work sans", sans-serif;
}

img {
    max-width: 90%;
    height: auto;
}

.container {
    width: 95‰;
    margin: 0 auto;
}

/* typography */
h1 {
    font-size: 2.2rem;
}

@media (min-width: 45rem) {
    h1 {
        font-size: 3.7rem;
    }
}

/* buttons */
.button {
    display: inline-block; /* sørger for at knappen fungerer ordenligt */
    font-size: 1rem;
    color: var(--hvid);
    text-decoration: none;
   /* border-width: 2px;
    border-style: solid; */
    padding: .5em 1em;
}

.button-blue {
    color: var(--hvid);
    background-color: var(--blå);
    border-color: var(--hvid);
}

.button-blue:hover,
.button-blue:focus {
    background: var(--lyserød);
}

/* header */
header {
    position: absolute;
    left: 0;
    right: 0;
    margin: 2em;
    text-align: center;
}

.header__logo {
color: var(--blå);
font-weight: bold;
font-size: 1.5rem;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: .8rem;
    color: var(--sort);
}

nav a:hover,
nav a:focus {
    color: var(--lyserød);
}

@media (min-width: 45rem) {

    .header__logo {
        float: left;
    }

    nav {
        float: right;
    }
    nav li {
        margin: 0;
        margin-right: 1.2rem;
    }
    nav a {
        font-size: 1.3rem;
    }
}


/* hero */
.hero {
    padding: 6em 0 0 0;
    background-color: var(--hvid);
    display: flex;
    flex-direction: column; /* Stak elementerne vertikalt på mobil */
    align-items: center; /* Centrer elementerne */
    gap: 1rem; /* Luft mellem tekst og billede */
 }
 
 .hero__title {
     padding: 2rem;
     color: var(--blå);
     text-align: center;
     margin-top: 2rem;
     margin-bottom: 0;
 }
 
 .hero__text {
     margin: 0;
     padding: 2rem;
     color: var(--sort);
 }
 
 .hero__image {
     max-width: 100%;
     height: auto;
 }


 @media (min-width: 45rem) {
    .hero {
        display: grid;
        grid-template-columns: 1fr 5fr; /* To kolonner */
        gap: 20px; /* Plads mellem kolonnerne */
        align-items: center; /* Centrer elementerne lodret */
    }

    .hero__title {
        text-align: left;
        padding: 5rem;
    }

    .hero__text {
        padding: 0rem 5rem 5rem 5rem;
    }

    .hero__image {
        max-width: 100%; /* Sørg for at billedet fylder sin kolonne */
        height: auto;
        object-fit: contain;
    }
}

/* aside */
.aside {
    background-color: var(--lyserød);
    padding: 2em 0;
}

.aside__title {
    color: var(--hvid);
     text-align: center;
     margin-top: 2rem;
     margin-bottom: 0;
}
.aside__text {
    margin: 0;
    padding: 2rem;
    color: var(--hvid);
    text-align: center;
}


/* footer */